# /etc/mysql/conf.d/my.cnf
# https://ourcodeworld.com/articles/read/1828/how-to-solve-pdo-connection-error-sqlstatehy000-2054-server-sent-charset-unknown-to-the-client

[mysqld]

collation-server = utf8_unicode_ci
character-set-server = utf8

# Otherwise the following exception will be thrown: the server requested authentication method unknown to the client
default_authentication_plugin= mysql_native_password

[client]
default-character-set=utf8

[mysql]
default-character-set=utf8
prompt=\\u@\\h [\\d]>\\_
